body{
	background-color: #FF33CC;
}

.heading1{
	text-align: center;
	color: black;
}

.heading2{
	font-family:fantasy;
	color: #CCFFFF;
}

.para1{
	color: #CCFFFF;
}

.heading3{
	background-color: #6666FF;
	color: #3D1429;
}

span{
	font-size: 3em;
	color: #CCFFFF;
}

.para3{
	background-color: white;
	text-align:center;	
}

img{
	margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
}

div{
	text-align: center;
}